@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello World Message</h1>
    <p class="lead">@ViewBag.HelloWorldMessage</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Employee Details</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Full Name</th>
                    <th>Date Of Birth</th>
                </tr>
            </thead>
            <tr>
                <td>@ViewBag.EmployeeDetails.EmpId</td>
                <td>@ViewBag.EmployeeDetails.FirstName</td>
                <td>@ViewBag.EmployeeDetails.MiddleName</td>
                <td>@ViewBag.EmployeeDetails.LastName</td>
                <td>@ViewBag.EmployeeDetails.FullName</td>
                @*<td>@Convert.ToDateTime(ViewBag.EmployeeDetails.DateOfBirth).toString("dd/MMM/yyyy")</td>*@
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Update Employee Details</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Full Name</th>
                    <th>Date Of Birth</th>
                </tr>
            </thead>
            <tr>
                <td>@ViewBag.UpdateEmployeeDetails.EmpId</td>
                <td>@ViewBag.UpdateEmployeeDetails.FirstName</td>
                <td>@ViewBag.UpdateEmployeeDetails.MiddleName</td>
                <td>@ViewBag.UpdateEmployeeDetails.LastName</td>
                <td>@ViewBag.UpdateEmployeeDetails.FullName</td>
                @*<td>@Convert.ToDateTime(ViewBag.UpdateEmployeeDetails.DateOfBirth).toString("dd/MMM/yyyy")</td>*@
            </tr>
        </table>
    </div>
</div>